//output:test.html
doctype html
html
head
  title Parallax test
  link(rel="stylesheet",href="/css/skeleton.css")
  link(rel="stylesheet",href="/css/normalize.css")
  link(rel="stylesheet",href="/css/test.css")
body
  header.test-bg
    .logo
    .back-bird
    .fore-bird

  section.content
    article 
      h1 Men fashion
      p what's new in men's fashion       
        section.work-m
          .work-belt

            .thumb-wrap
              .content-m
                .thumbnail(data-folder="work1")
                  figure
                    img(src="images/posts/one.jpg")
                    figcaption <strong>Thumbnail 1</strong>
                .thumbnail(data-folder="work2")
                  figure
                    img(src="images/posts/two.jpg")
                    figcaption <strong>Thumbnail 2</strong>            
                .thumbnail(data-folder="work3")
                  figure
                    img(src="images/posts/three.jpg")
                    figcaption <strong>Thumbnail 3</strong>                
            .work-wrap
        
  section.content
    .login-bg
      .login-belt
        strong.signup Don't have an account?
        //button.button-primary.signup-b SIGN UP
        button.signup-b SIGN UP
        strong.login Have an account?
        //button.button-primary.login-b LOGIN
        button.login-b LOGIN
        .login-box
        .login_form
          h1 LOGIN
          input(type="email" placeholder="Email") 
          input(type="password" placeholder="Password")
          br
          button(type="submit") LOGIN
        .signup_form
          h1 SIGNUP
          input(type="text" placeholder="Username")
          input(type="email" placeholder="Email")
          input(type="password" placeholder="Password")
          button(type="submit") SIGNUP  
  
  footer
    .rows.footer-content
      .columns.three
        strong FIND US ON
        ul
          li
            a(href="") Facebook
          li
            a(href="") Twitter
          li
            a(href="") Instagram
          li
            a(href="") LinkedIn
      .columns.three
        strong OTHER SHOPS
        ul
          li
            a(href="") TEST1
          li
            a(href="") TEST2
          li
            a(href="") TEST3
          li
            a(href="") TEST4
      .columns.six
        strong Signup for our newsletter
        form
          .columns.six
            input.u-full-width(type="email" placeholder="Your email")
          .columns.four
             input.button-primary(type="submit")  
          
      
              
  script(src="/js/jquery-2.1.3.min.js")
  script(src="/js/test.js")  
    
    
